#shade {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
}
#image-big-div {
    position: fixed;
    display: none;
    padding: 0px;
}
#help {
    position: fixed;
    display: none;
    padding: 0px;
    background: #222;
    border: 1px solid #444;
}
.gal-img {
    border: 1px solid #444;
    padding: 0px;
    cursor: pointer;
    z-index: 1;
    background-image: url(/static/spinner.gif);
    background-repeat: no-repeat;
    background-position: center;
}
#for-alignment {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#image-big {
    margin-left: -3px;
    vertical-align: middle;
    display: inline-block;
    max-height: 100%;
    background-image: url(/static/spinner.gif);
    background-repeat: no-repeat;
    background-position: center;
}
#big-img-wrapper {
    text-align: center;
    white-space: nowrap;
    padding: 0px;
    background: #181818;
}
.img-wrapper {
    padding: 8px;
}
@media(max-width:544px) {
    .img-wrapper {
        padding: 5px;
    }
}
@media(max-width:991px) {
    #image-big-div {
        top: 40px;
    }
    #comments:after {
        content: "";
        height: 133px;
        display: block;
    }
}
@media (min-width: 1300px) {
    .modal-xl {
        width: 1250px;
    }
}
#cross {
    position: fixed;
    top: 15px;
    right: 15px;
    display: none;
    cursor: pointer;
    z-index: 4;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.4;
}
#shade:hover + #cross {
    opacity: 1;
}
#cross:hover {
    opacity: 1;
}
#comments-div {
    background: #242424;
    padding: 0px;
}
#comments {
    padding: 5px 5px 0px 5px;
    min-height: 238px;
}
#comment-form {
    height: 133px;
    left: 5px;
    right: 5px;
    bottom: 0;
    position: absolute;
    background: #242424;
}
@media (min-width: 991px) {
    #comments {
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        top: 0px;
        bottom: 133px;
        width: 100%;
    }
    #comments-div {
        height: 100%;
    }
    #big-img-wrapper {
        height: 100%;
    }
}
p {
    margin: 0px;
}
.author {
    font-weight: bold;
}
.com-date {
    font-size: 9px;
}
*:disabled {
    background: #333;
}
.msb::-webkit-scrollbar-track {
    background-color: transparent;
}
.msb::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}
.msb::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 3px;
}
.msb::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}
.modal {
    overflow-y: auto;
}
