body {
    background-color:#222;
    color:#999; 
    font-family:Verdana;
    font-size:9pt;
    padding:0px;
    margin:0px; 
}
table {
    font-family:Verdana, Arial;
    font-size:10px;
    border-collapse: collapse;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form {
    padding:0px;
    margin:0px;
} 
input, select{
    background:#292929; 
    padding:2px; 
    font-size:10px; 
    border:1px solid #444; 
    font-family:Verdana; color:#888;
}
textarea{
    background:#292929; 
    padding:10px; 
    font-size:10px; 
    border:1px solid #444; 
    font-family:Verdana;
    color:#888;
}
a {
    font-size:10px;
    font-family:Verdana; 
    color:#999;
    font-weight:bold;
    text-decoration:none;
}
a:hover {
    color:yellowgreen;
}

