body {
    color: #999;
    font-family: Verdana;
    font-size: 9pt;
    background: #222; /* для ослика */
    background: linear-gradient(to bottom, #222, #282828) fixed;
}
.some-button {
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 5px 10px;
    font-size: 9px;
    background: #333;
    border: 1px solid #444;
    border-right: none;
}
.header {
    margin-bottom: 10px;
}
@media(max-width:436px){
    .header {
        padding-top: 38px;
    }
}
hr {
    margin: 10px 0px;
    border-color: #444;
}
.header ul {
    padding-left: 5px;
}
.menu-item {
    text-align: center;
    display: inline-block;
    margin-left: -5px;
    width: 128px;
    background: #222;
}
@media(max-width: 411px) {
    .menu-item {
        width: 50%;
    }
}
.header ul li a:hover {
    background: #292929;
}
.header ul li a {
    display: block;
    padding: 2px 0px;
    border: 1px solid #444;
}
.content {
    background: #232323;
    border: 1px solid #444;
    padding: 15px 10px 20px 10px;
    margin-bottom: 10px;
}
@media(max-width:544px) {
    .content {
        padding: 7px 5px 10px 5px;
    }
}
a:focus {
    color: #999;
    text-decoration: none;
}
a {
    color: #999;
    font-weight: bold;
}
a:hover {
    color: yellowgreen;
    text-decoration: none;
}
