.about-header {
    margin: 0;
    text-align: center;
}

.about-row-header {
    font-weight: normal;
    text-align: center;
    font-size: 1.8em;
}

.row {
    padding: 0 0 20px 0;
}

.portrait img {
    transition: transform 0.5s;
}

.portrait img:hover {
    transform: scale(2.8) translate(5.5%, 32%);
}

.portrait {
    border: 1px solid #444;
    padding: 0;
}

.portrait figcaption {
    text-align: center;
    border-top: 1px solid #444;
}

.about {
    padding-left: 10px;
}

.about p:first-child {
    margin-top: 0;
}

.contact-img {
    max-height: 171px;
    display: inline;
    margin-top: 5px;
}

.contact-wrapper {
    text-align: center;
}

.contact-wrapper span {
    padding-bottom: 10px;
}

@media (max-width: 767px) {
    .contact-wrapper {
        margin-bottom: 20px;
    }
}
