<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{{ title }}</title>
    <script src="{{ url_for('static', filename='ajax.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% if request.cookies.get('back') %}
        <style type="text/css">
            body {
                background-image: url("{{ request.cookies.get('back') }}");
            }
        </style>
    {% endif %}
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="header">
        <div class="container">
            <div id="stats" style="width: 270px; height: 34px;">
            </div>
            <ul class="navbar-left">
                <li class="menu-item"><a href="/index">Обо мне</a></li>
                <li class="menu-item"><a href="/skills">Навыки</a></li>
                <li class="menu-item"><a href="/gallery">Картиночки</a></li>
                <li class="menu-item"><a href="/stuff">Штуки</a></li>
                <li class="menu-item"><a href="/contacts">Контакты</a></li>
                {% if current_user.is_authenticated %}
                <li class="menu-item"><a href="/user">{{ current_user.username }}</a></li>
                <li class="menu-item" style="width: 35px;"><a href="/logout">[x]</a></li>
                {% else %}
                <li class="menu-item"><a href="/login">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <a href="/leave_feedback">
            <div class="some-button">Оставить отзыв</div>
        </a>
        <div class="content">
        {% block body %}
        {% endblock %}
        </div>
    </div>
</body>
</html>
