{% extends "base.html" %}

{% block body %}
    {% if feedback %}
        <ul class="dollar-ul" style="padding-left: 20px;">
        {% for record in feedback %}
            <li>
                [{{ record['from'] }}@{{ record['age'] }} годиков]<br>
                {{ record['text']|safe }}<br>
                <span class="date">{{ record['date'] }} UTC</span>
                <hr>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        Пока тут ничего нет.
    {% endif %}
{% endblock %}
