{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gallery.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}

{% block body %}
<div class="hid" id="shade" onclick="hideModals();"></div>
<img src="{{ url_for('static', filename='cross.png') }}" class="hid" onclick="hideModals();" id="cross" alt="закрыть">
<div class="modal modal-dialog modal-lg modal-xl modal-md modal-xs msb" id="help">
    Вы находитесь в галерее. Помощь по использованию:<br>
    <ol>
        <li>Нажмите на миниатюру изображения, чтобы открыть его полную версию.</li>
        <li>ESC - закрыть большое изображение.</li>
        <li>По картинкам можно перемещаться стрелками на клавиатуре.</li>
        <li>F1 - открыть/закрыть окно помощи.</li>
    </ol>
</div>
<div class="modal modal-dialog modal-lg modal-xl modal-md modal-xs hid" id="image-big-div">
    <div style="height: 100%; overflow: auto;" class="msb" id="scroll-wrapper">
    <div class="col-sm-12 col-xs-12 col-md-8" id="big-img-wrapper">
        <button onclick="setAsBackground();" style="position: absolute; top: 0; right: 0; z-index: 1000;">Сделать фоновой</button>
        <div id="for-alignment"></div>
        <img class="img-responsive" alt="loading" id="image-big" src="">
        <img src="" id="img-preload" style="display: none;" alt="если вы это читаете, сделайте мне бутерброд">
    </div>
    <div class="col-sm-12 col-xs-12 col-md-4" id="comments-div">
        <div id="comments" class="msb">

        </div>
        <div id="comment-form">
            {{ form.id_() }}
            {% if current_user.is_authenticated %}
                {{ form.text(class_='glow', required=True, style='resize: none; height: 106px; width: 100%;') }}
                <button onclick="sendComment();" style="height: 20px; width: 100%;">Отправить</button>
            {% else %}
                <textarea disabled style="resize: none; height: 106px; width: 100%;">Войдите чтобы получить возможность комментировать</textarea>
                <button disabled style="height: 20px; width: 100%;">Отправить</button>
            {% endif %}
        </div>
    </div>
    </div>
</div>
{% for i in range(min_images|length ) %}
    <div class="col-md-2 col-sm-3 col-xs-4 col-lg-2 col-el-2 img-wrapper">
	   <img onclick="showBigImage('{{ i }}');" alt="loading" class="img-responsive gal-img" data-big="{{ images[i] }}" src="{{ min_images[i] }}" id="{{ i }}">
    </div>
{% endfor %}
<div style="clear: both;"></div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='ajax.js') }}"></script>
<script src="{{ url_for('static', filename='gallery.js') }}"></script>
{% endblock %}
