{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="{{ url_for('static', filename='gallery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ajax.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gallery.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}

{% block body %}
<div class="hid" id="shade" onclick="shrinkImage()"></div>
<img src="{{ url_for('static', filename='cross.png') }}" class="hid" onclick="shrinkImage()" id="cross" alt="закрыть">
<div class="modal modal-dialog modal-lg modal-xl modal-md modal-xs msb" id="help">
    Вы находитесь в галерее. Помощь по использованию:<br>
    <ol>
    <li>Нажмите на миниатюру изображения, чтобы открыть его полную версию.</li>
    <li>ESC - закрыть большое изображение.</li>
    <li>По картинкам можно перемещаться стрелками на клавиатуре.</li>
    <li>F1 - открыть/закрыть окно помощи.</li>
    <ol>
</div>
<div class="modal modal-dialog modal-lg modal-xl modal-md modal-xs hid msb" id="image-big-div">
    <div class="col-sm-12 col-xs-12 col-md-8" id="big-img-wrapper">
        <img class="img-responsive" alt="loading" id="image-big" src="">
        <img src="" id="img-preload" style="display: none;">
    </div>
    <div class="col-sm-12 col-xs-12 col-md-4" id="comments-div">
        <div id="comments" class="msb">
            
        </div>
        <div style="height: 120px; padding: 0px 5px 0px 5px">
            {{ form.csrf_token }}
            {{ form.id_(hidden='true') }}
            {% if current_user.is_authenticated %}
                {{ form.text(required=True, style='resize: none; height: 100px; width: 100%;') }}
                <button onclick="sendComment()" style="height: 20px; width: 100%;">Отправить</button>
            {% else %}
                <textarea disabled style="resize: none; height: 100px; width: 100%;">Войдите чтобы получить возможность комментировать</textarea>
                <button disabled style="height: 20px; width: 100%;">Отправить</button>
            {% endif %}
        </div>
    </div>
</div>
{% for i in range(min_images|length ) %}
    <div class="col-md-2 col-sm-3 col-xs-4 col-lg-2 col-el-2 img-wrapper">
	   <img onclick="expandImage('{{ i }}')" alt="loading" class="img-responsive gal-img" data-big="{{ images[i] }}" src="{{ min_images[i] }}" id="{{ i }}">
    </div>
{% endfor %}
<div style="clear: both;"></div>
{% endblock %}