{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_style.css') }}">
{% endblock %}

{% block body %}
<div style="display: inline-block; width: 100%;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        {{ macros.flashes(form) }}
        <span style="font-size: 10px;">Оставить отзыв:</span>
        <form action="/leave_feedback/{{ request.path.split('/')[2] }}" method="POST">
            {{ form.csrf_token }}
            {{ macros.input(form.age(class_='form-control', pattern='[0-9]{1,3}', title='От одной до 3 цифр', required=True), 'Ваш возраст') }}
            {{ macros.input(form.text(class_='form-control', style='height: 150px;', required=True), 'Текст') }}
            <input type="submit" value="Отправить">
        </form>
        <span style="font-size: 10px;" class="pull-right"><a href="/feedback/{{ request.path.split('/')[2] }}">Посмотреть все отзывы</a></span>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}