{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_style.css') }}">
{% endblock %}
{% block body %}
<div style="display: inline-block; width: 100%;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <span style="font-size: 10px;">Оставить отзыв:</span>
        <form action="/leave_feedback" method="POST">
            {{ form.csrf_token }}
            <div class="input-group">
                {{ form.age(class_='form-control') }}<br>
                <span class="input-group-addon">Ваш возраст</span>
            </div>
            <div class="input-group">
                {{ form.text(class_='form-control', style='height: 150px; ') }}<br>
                <span class="input-group-addon">Текст</span>
            </div>
            <input type="submit" value="Отправить" style="width: 100%; margin-bottom: 5px; cursor: default" >
        </form>
        <span style="font-size: 10px;" class="pull-right"><a href="/feedback">Посмотреть все отзывы</a></span>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}