{% extends "base.html" %}
{% block head %}
<style type="text/css">
    .input-group {
        margin-bottom: 5px;
        width: 100%;
    }
    .form-control, .input-group-addon {
        padding: 2px;
        font-size: 10px;
        border: 1px solid #444;
        color: #888;
        border-radius: 0;
        height: 26px;
    }
    .form-control {
        background: #222;
        border-right: 1px solid #292929;
    }
    .input-group-addon {
        width: 110px;
        background: #292929;
        text-align: left;
        padding-left: 5px;
    }
</style>
{% endblock %}
{% block body %}
<div style="display: inline-block; width: 100%;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <span style="font-size: 10px;">Оставить отзыв:</span>
        <form action="/leave_feedback" method="POST">
            {{ form.csrf_token }}
            <div class="input-group">
                {{ form.age(class_='form-control') }}<br>
                <span class="input-group-addon">Ваш возраст</span>
            </div>
            <div class="input-group">
                {{ form.text(class_='form-control', style='height: 150px; ') }}<br>
                <span class="input-group-addon">Текст</span>
            </div>
            <input type="submit" value="Отправить" style="width: 100%; margin-bottom: 5px; cursor: default" >
        </form>
        <span style="font-size: 10px;" class="pull-right"><a href="/feedback">Посмотреть все отзывы</a></span>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}