{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
<style>
    input[type=submit] {
        width: 70px;
    }
</style>
{% endblock %}

{% block body %}
    <form action="/stuff">
        Отфильтровать по IP адресу:&nbsp;&nbsp;
        <input name="filter" required pattern="(\d{1,3}\.){3}\d{1,3}" title="Корректный IP адрес" placeholder="{% if request.args.get('filter') %}{{ request.args.get('filter') }}{% endif %}">
        <input type="submit" value="Применить" style="display: inline;">
    </form>
    <form action="/stuff">
        <input type="submit" value="Сбросить">
    </form>
    <ul style="margin-top: 10px; padding-left: 20px;" class="dollar-ul">
    {% for request in requests %}
        <li>
            [{{ request.address }}]<br>
            {{ request.path }}<br>
            {% if 'ss' in request %}
                {{ request.ss }}, {{ request.ua }}<br>
            {% endif %}
            <span class="date">{{ request.time }}</span>
            <hr>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
