{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
    <style type="text/css">
        .panel-head {
            padding: 2px;
            height: 40px;
            background: #292929;
            cursor: pointer;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow:hidden;
        }
        .panel-head:hover {
            background: #2c2c2c;
        }
        .collapse {
            height: 0px;
            display: block;
            overflow: hidden;
            margin: 0px -1px;
            -webkit-transition: height 0.2s linear;
            -moz-transition: height 0.2s linear;
            -ms-transition: height 0.2s linear;
            -o-transition: height 0.2s linear;
            transition: height 0.2s linear;
        }
        .collapse form input[type=submit] {
            margin: 0px 5px;
            width: 100px;
            cursor: default;
        }
        .collapse form textarea {
            height: 100px;
        }
        .panel-wrapper {
            border: 1px solid #444;
            margin-bottom: 9px;
        }
    </style>
    <script type="text/javascript">
        function toggle(id) {
            var el = document.getElementById(id);
            if (el.style.height == '0px' || el.style.height == '')
                el.style.height = '130px';
            else
                el.style.height = '0px';
        }
    </script>
{% endblock %}

{% block body %}
{{ macros.flashes(edit_form) }}
Тут можно отредактировать оставленные вами отзывы.
{% for record in feedback %}
<div class="panel-wrapper">
    <div class="panel-head" onclick="toggle('collapse{{ loop.index }}');">
        <strong>{{ record['date'] }}</strong><br>
        {{ record['text'][:100] }}
    </div>
    <div id="collapse{{ loop.index }}" class="collapse">
        <form method="POST">
            {{ edit_form.csrf_token }}
            {{ edit_form.id_(value=record['_id']) }}
            {{ macros.input(edit_form.text(class_='form-control glow', maxlength='1024', required=True, data=record['text']), 'Новый текст') }}
            <input type="submit" value="Подтвердить" class="pull-left">
        </form>
        <form method="POST">
            {{ del_form.csrf_token }}
            {{ del_form.id_(value=record['_id']) }}
            <input type="submit" value="Удалить" class="pull-right">
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}
